*.json
!anime.json
!default.json
!lcm.json
!playground_v2.5.json
!pony_v6.json
!realistic.json
!realistic_identity.json
!realistic_direct_prompt.json
!realistic_prompt_strict.json
!realistic_diverse.json
!realistic_diverse_detail.json
!realistic_hyper_stable.json
!realistic_juggernaut_ragnarok.json
!realistic_cyberrealistic_xl.json
!realistic_epicrealism_xl.json
!realistic_realvis_xl.json
!realistic_realcore_xl.json
!realistic_colab_stable.json
!realistic_cinematic_anatomy.json
!realistic_pro.json
!realistic_super.json
!sai.json